@model AdList.Web.ViewModels.Category.CategoryViewModel
@{
    ViewBag.Title = Model.CategoryName;
}
<section>
    <div>
        <div class="container">
            <div class="row text-center">
                <h1 class="ng-binding">@Model.CategoryName</h1>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <form role="search" class="navbar-form"></form>
                    <div class="input-group">
                        <input type="text" placeholder="Search" name="q" class="form-control">
                        <div class="input-group-btn"><button class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <form role="search" class="navbar-form">
                        <select class="form-control">
                            <option value="-published">Newest</option>
                            <option value="published">Oldest</option>
                            <option value="price">Low price</option>
                            <option value="-price">High price</option>
                            <option value="title">Title</option>
                        </select>
                    </form>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3">
                    <div class="list-group">
                        @{
                            foreach (var category in Model.Categories)
                            {
                                <a href="/category/@category.Name" class="list-group-item">@category.Name</a>
                            }
                        }
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="pagination ng-isolate-scope" data-pagination="" data-num-pages="numPages()" data-current-page="currentPage" data-max-size="maxSize" data-boundary-links="true">
                        <ul>
                            <li class="disabled">
                                <a ng-click="selectPage(page.number)">First</a>
                            </li>
                        </ul>
                    </div>

                    @Html.Partial("_AdsPartial", Model.Ads)

                    <div class="pagination ng-isolate-scope" data-pagination="" data-num-pages="numPages()" data-current-page="currentPage" data-max-size="maxSize" data-boundary-links="true">
                        <ul>
                            <li class="ng-scope disabled"><a ng-click="selectPage(page.number)">First</a></li>
                            <li class="ng-scope disabled"><a ng-click="selectPage(page.number)">Previous</a></li>
                            <li class="ng-scope active"><a ng-click="selectPage(page.number)">1</a></li>
                            <li class="ng-scope"><a ng-click="selectPage(page.number)">2</a></li>
                            <li class="ng-scope"><a ng-click="selectPage(page.number)">Next</a></li>
                            <li class="ng-scope"><a ng-click="selectPage(page.number)">Last</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
