@model IEnumerable<AdList.Web.ViewModels.Home.HomeAdViewModel>
@{
    ViewBag.Title = "Home Page";
}
<div class="container">

    <div class="jumbotron"><div id="logo-title" class="h1">Ad List</div><h2>The best deals for used items</h2></div>
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <form role="search" class="navbar-form"></form>
            <div class="input-group">
                <input type="text" placeholder="Search" name="q"  class="form-control">
                <div class="input-group-btn"><button class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Featured</h1>
            <div class="row">
                @foreach (var ad in Model)
                {
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <a href="/ads/@ad.Id" title="@ad.Title">
                                <div style="background-image:url('/images/@ad.ImageUrl')" class="ratio"></div>
                            </a>
                            <div class="caption">
                                <h4 class="price-tag pull-right">$890</h4>
                                <h4 class="truncate"><a href="/ads/@ad.Id">@ad.Title</a></h4>
                                <p class="truncate">@ad.Description</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">15 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                }

            </div>

        </div>
    </div>
</div>
